<div style="padding: 16px;">
    <p style="padding-bottom: 16px;">测试观察者对象 | <a href="https://angular.cn/guide/observables" target="_blank">官方文档</a>
    </p>
    <div style="padding: 16px 0;border-top: 1px solid #ccc;">
        <button (click)="onButton01Click()">官方基础Demo01</button>
        <blockquote>
            <p>这是一个网页定位的功能，没什么实际用处。</p>
        </blockquote>
    </div>
    <div style="padding: 16px 0;border-top: 1px solid #ccc;">
        <button (click)="onButton02Click()">of()、from()静态方法</button>
        <blockquote>
            <p style="margin-top: 16px;">这几个方法应该是用来测试的，没什么用!</p>
        </blockquote>
    </div>
    <div style="padding: 16px 0;border-top: 1px solid #ccc;">
        <button (click)="onButton03Click()">of()的手动实现</button>
    </div>
    <div style="padding: 16px 0;border-top: 1px solid #ccc;">
        <input type="text" id="nameInput">
        <blockquote>
            <p style="margin-bottom: 16px;">对事件监听发送异步请求</p>
        </blockquote>
    </div>
    <div style="padding: 16px 0;border-top: 1px solid #ccc;">
        <button (click)="onButton04Click()">多个请求组合</button>
    </div>
    <div style="padding: 16px 0;border-top: 1px solid #ccc;">
        <button (click)="onButton05Click()">复杂的观察者多播</button>
    </div>
</div>
