.page {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 16px;
}

.aside {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: skyblue;
  box-shadow: 0 0 10px #888888;
  /* ↓↓↓CSS位移函数，第一个参数是x轴，第二个参数是y轴。 */
  transform: translate(0, 0);
  transition: all .5s;
}
